= will_paginate @pictures
- @pictures.each do |img|
  %div{:style => "float:left; width: 100px; height: 150px; padding: 5px; text-align: center; font-size: 12px"}
    = "Comments: #{img.comments.count.to_i} "
    %br
    = "Like: #{img.likes_count.to_i}"
    %br
    = link_to picture_path(:id => img.id) do
      = image_tag img.image.small.url
.clear